<% include reference.ejs %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
      <!-- HTML -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">ILOVE</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">관리자페이지</li>
                </ol>
                <div class="row">
                    <div class="col-xl-8">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area mr-1"></i>
                                매출현황
                            </div>
                            <div id="chartdiv"></div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">어제 매출총액</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <style>
    #chartdiv {
        width: 100%;
        height: 500px;
      }
      
      </style>
      
      <!-- Resources -->
      <script src="https://www.amcharts.com/lib/4/core.js"></script>
      <script src="https://www.amcharts.com/lib/4/charts.js"></script>
      <script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
      <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
      
      <!-- Chart code -->
      <script>
      am4core.ready(function() {
      
      // Themes begin
      am4core.useTheme(am4themes_material);
      am4core.useTheme(am4themes_animated);
      // Themes end
      
      // Create chart instance
          var chart = am4core.create("chartdiv", am4charts.XYChart);

          // Add data

          var table = 'payment'
          var value = 'payment_id<>" " ORDER BY payment_date'
          var data_value=" "
          var data = []
          a2s_getDBByCond(table, value, function (res) {
              if (res.length != 0) {
                  for (var i = 0; i < res.length; i++) {
                      if(i!=0){
                          var i_date=res[i].payment_date
                          var before=res[i-1].payment_date
                          if(i_date.split(' ')[0]==before.split(' ')[0]){
                              var date=res[i].payment_date
                              data_value+=res[i].payment_amount
                          }
                          else{
                            var input ={"date":date,"value":data_value}
                            data.push(input)
                            data_value=" "
                            var date=res[i].payment_date
                            data_value=res[i].payment_amount
                            if(i+1==res.length){
                            var input ={"date":date,"value":data_value}
                            data.push(input)
                            }
                          }
                      }
                      else{
                            var date=res[i].payment_date
                            data_value=res[i].payment_amount
                      }
                      console.log(input)
                      console.log(data)
                  }
              }
      chart.data = data
       // Set input format for the dates
       chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";
      
      // Create axes
      var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
      var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
      
      // Create series
      var series = chart.series.push(new am4charts.LineSeries());
      series.dataFields.valueY = "value";
      series.dataFields.dateX = "date";
      series.tooltipText = "{value}"
      series.strokeWidth = 2;
      series.minBulletDistance = 15;
      
      // Drop-shaped tooltips
      series.tooltip.background.cornerRadius = 20;
      series.tooltip.background.strokeOpacity = 0;
      series.tooltip.pointerOrientation = "vertical";
      series.tooltip.label.minWidth = 40;
      series.tooltip.label.minHeight = 40;
      series.tooltip.label.textAlign = "middle";
      series.tooltip.label.textValign = "middle";
      
      // Make bullets grow on hover
      var bullet = series.bullets.push(new am4charts.CircleBullet());
      bullet.circle.strokeWidth = 2;
      bullet.circle.radius = 4;
      bullet.circle.fill = am4core.color("#fff");
      
      var bullethover = bullet.states.create("hover");
      bullethover.properties.scale = 1.3;
      
      // Make a panning cursor
      chart.cursor = new am4charts.XYCursor();
      chart.cursor.behavior = "panXY";
      chart.cursor.xAxis = dateAxis;
      chart.cursor.snapToSeries = series;
      
      // Create vertical scrollbar and place it before the value axis
      chart.scrollbarY = new am4core.Scrollbar();
      chart.scrollbarY.parent = chart.leftAxesContainer;
      chart.scrollbarY.toBack();
      
      // Create a horizontal scrollbar with previe and place it underneath the date axis
      chart.scrollbarX = new am4charts.XYChartScrollbar();
      chart.scrollbarX.series.push(series);
      chart.scrollbarX.parent = chart.bottomAxesContainer;
      
      dateAxis.start = 0.79;
      dateAxis.keepSelection = true;
      
      
            })
     
      }); // end am4core.ready()
      </script>
