<% include ../reference.ejs %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>


<div class="card-body">

    <div class="table-responsive" style="padding-left: 5%;">
        <table id="myTable" class="hover" style="width:100%">
            <thead>
                <tr>
                    <th>유저 아이디</th>
                    <th>닉네임</th>
                    <th>성별</th>
                    <th>생일</th>
                    <th>전화번호</th>
                </tr>
            </thead>
        </table>
        <button type="button" class="btn btn-danger" onclick="Clicklike()">프로필보기</button>
    </div>
</div>

<script>
    var selectRow = []
    var date = new Date();
    $(document).ready(function () {

        var fields = "*"
        var table = 'user'
        var value = 'user.user_authority="normal" and user.user_id <>"' + sessionStorage.getItem("id") + ' "and user.user_id not in (select viewhistory.partner_id from viewhistory where viewhistory.user_id ="' + sessionStorage.getItem("id") + '" and viewhistory.visit_type="profile" )'
        var data = []
        a2s_getDBSomeByCond(table, fields, value, function (res) {
            if (res.length != 0) {
                for (var i = 0; i < res.length; i++) {
                    if (res[i].user_gender == 'F') {
                        var gender = '여성'
                    }
                    else {
                        var gender = '남성'
                    }
                    var input = [res[i].user_id, res[i].user_nickname, gender, res[i].user_birthday, res[i].user_phone]
                    data.push(input)
                    console.log(input)
                    console.log(data)
                }
            }
            var table = $('#myTable').DataTable({
                data: data,
                "language": {
                    "emptyTable": "데이터가 없습니다.",
                    "lengthMenu": "페이지당 _MENU_ 개씩 보기",
                    "info": "현재 _START_ - _END_ / _TOTAL_건",
                    "infoEmpty": "데이터 없음",
                    "infoFiltered": "( _MAX_건의 데이터에서 필터링됨 )",
                    "search": "검색: ",
                    "zeroRecords": "일치하는 데이터가 없습니다.",
                    "loadingRecords": "로딩중...",
                    "processing": "잠시만 기다려 주세요...",
                    "paginate": {
                        "next": "다음",
                        "previous": "이전"
                    }
                },
                bAutoWidth: false,
                responsive: true,
                select: {
                    style: 'multi'
                },
            })
            //선택 row 가져오기
            table.on('select', function (e, dt, type, indexes) {
                var rowData = table.rows(indexes).data();
                selectRow.push(rowData[0][0])
            })
        })
    }) //도큐먼트 끝 
    //수정버튼이벤트
    function Clicklike() {

        for (var i = 0; i < selectRow.length; i++) {
            var new_history = new Object();
            new_history.user_id = sessionStorage.getItem("id")
            new_history.partner_id = selectRow[i]
            new_history.visit_type = 'profile'
            new_history.visit_date = moment(date).format('YYYY-MM-DD HH:mm:ss')
            a2s_addDB('viewhistory', JSON.stringify(new_history), function (res) {
                if (res.affectedRows > 0) {

                }
                else {
                    alert(new_history.partner_id + "유저 프로필 보기 체크에 실패했습니다.")
                }
                window.location.reload()
            })
        }
    }

</script>