<% include ../reference.ejs %>


<!--안에내용-->
<div class="card-body">
    <!--테이블-->
    <div class="table-responsive">
        <table id="myTable" class="hover" style="width:100%;">
            <thead>
                <tr>
                    <th>유저 아이디</th>
                    <th>비밀번호</th>
                    <th>성별</th>
                </tr>
            </thead>
        </table>
        <!--추가수정삭제버튼-->
<div class="btn-group" role="group" aria-label="..." style="padding: 2%;float:right">
    <button type="button" class="btn btn-default" id="add">추가</button>
    <button type="button" class="btn btn-default" id="modify">수정</button>
    <button type="button" class="btn btn-default" id="delete">삭제</button>
</div>
    </div>
    <!--테이블끝-->
</div>
<!--내용끝-->

<!--편집 모달시작-->
<div class="modal fade bd-example-modal-lg" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="edit_modal"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content card mb-4">
            <div class="modal-header">
                <h6 class="modal-title"></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--모달내용-->
            <div class="modal-body">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">아이디</span>
                            <input type="text" class="form-control" placeholder="id" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">비밀번호</span>
                            <input type="text" class="form-control" placeholder="password"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>

                </div>
                <div class="form-row" style="padding-top: 3%;">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">채팅 성별</span>
                            <div class="form-control">
                                <span>여성</span><input type="radio" id="woman">
                                <span>남성</span><input type="radio" id="man">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <ul class="pager">
                    <li id="cancelbtn"><a onclick="Cancel()">취소</a></li>
                    <li><a style="display:none;" id="modifybtn" onclick="Clickmodify()">수정</a></li>
                    <li><a style="display: none;" id="savebtn"onclick="Clicksave()">저장</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = 'user'
        var value = 'user_authority="manager"'
        var data = []

        a2s_getDBByCond(table, value, function (res) {
            if (res.length != 0) {
                for (var i = 0; i < res.length; i++) {
                    var input = [res[i].user_id, res[i].user_password, res[i].user_gender]
                    data.push(input)
                    console.log(input)
                    console.log(data)
                }
            }
            var show = $('#myTable').DataTable({
                data: data,
                "language": {
                    "emptyTable": "데이터가 없습니다.",
                    "lengthMenu": "페이지당 _MENU_ 개씩 보기",
                    "info": "현재 _START_ - _END_ / _TOTAL_건",
                    "infoEmpty": "데이터 없음",
                    "infoFiltered": "( _MAX_건의 데이터에서 필터링됨 )",
                    "search": "검색: ",
                    "zeroRecords": "일치하는 데이터가 없습니다.",
                    "loadingRecords": "로딩중...",
                    "processing": "잠시만 기다려 주세요...",
                    "paginate": {
                        "next": "다음",
                        "previous": "이전"
                    }
                },
                bAutoWidth: false,
                responsive: true,
                select: {
                    style: 'single'
                },

            })
            //선택 row 데이터 가져오기 
            show.on('select', function (e, dt, type, indexes) {
                var rowData = show.rows(indexes).data();
                var delete_row = rowData[0]
            })
        })
        $("#add").click(function () {
            $("#savebtn").css('display', 'inline');
            // $("modify").attr("display","block")
            $("#edit_modal").modal();

        });
        $("#modify").click(function () {
            $("#modifybtn").css('display', 'inline');
            $("#edit_modal").modal();

        });
    })//도큐멘트끝

    function Clicksave(){
    
        $("#edit_modal").modal('hide');
    }

    function Cancel(){
        $("#edit_modal").modal('hide');
    }

</script>